Completion:
  CodePatterns: All
  # TODO: does not work well with 'import std'
  HeaderInsertion: Never
Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  Includes:
    AnalyzeAngledIncludes: true
  MissingIncludes: Strict
# TODO: Enable with Clang 22
# Documentation:
#   CommentFormat: Markdown
Hover:
  ShowAKA: false
InlayHints:
  BlockEnd: true
  DefaultArguments: true
